@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>An application that prodvides user authenticated ToDo lists. Each user can create lists and populate them with things to do. Etc.</p>
