@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Nóatún 3<br />
    100 Tórshavn<br />
    <abbr title="Phone">P:</abbr>
    333 333
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:yourenotgettingany@example.com">yourenotgettingany@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:worsethancancer@example.com">worsethancancer@example.com</a>
</address>